<a href="https://colab.research.google.com/github/Leetora41053/sesac_practice/blob/main/10_23_day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. print()로 data 출력하기

사용자에게 data값을 알려주는 print() 함수의 기본적인 사용법을 배웁니다

In [ ]:
print("Hello World!")
print("Name: ", "JB")
print("Age: ", 100)
print("Grade; ", 4.5)

Hello World!
Name:  JB
Age:  100
Grade;  4.5

2. int, float, str 변수 할당하고 출력하기

다양한 data type의 data를 variable에 할당하는 방법을 배웁니다.

In [ ]:
name = "JB"
math_score = 80
height = 176.6

print("name", name)
print("math_score", math_score)
print("height", height)

name JB
math_score 80
height 176.6

3. Python에서 제공하는 연산자들을 사용하는 방법을 배웁니다.

In [ ]:
int1 = 4
int2 = 2

print(int1 + int2)
print(int1 - int2)
print(int1 * int2)
print(int1 / int2)
print(int1 // int2)
print(int1 % int2)
print(int1 ** int2)

6
2
8
2.0
2
0
16

4. 변수를 동시에 할당하는 방법을 배우고,
연산의 결과를 변수에 할당하는 방법을 배웁니다.

In [ ]:
int1, int2 = 4, 2

add, sub = int1 + int2, int1 - int2
mul, div = int1 * int2, int1 / int2
quo, rem = int1 // int2, int1%int2
pow = int1 ** int2

#몫: quotient
#나머지: remainder
#제곱: 2 to the power of 3 = 2**3

print(add, sub, mul, div, quo, rem, pow)

6 2 8 2.0 2 0 16

5. 홀수 짝수 구하기:
n의 배수인 수들의 특징을 % 연산자를 통해 확인합니다.

In [ ]:
int1, int2, int3, int4 = 1, 2, 3, 4

div = 2

rem1, rem2, rem3, rem4 = int1//div, int2//div, int3//div, int4//div

print(rem1, rem2, rem3, rem4)

0.5 1.0 1.5 2.0

6.자기 자신에 연산하기: 복합대입연산자 사용법의 필요성과 사용방법에 대해 배웁니다.

print에서 복합대입연산자를 사용할 순 없음

In [ ]:
score = 10

score += 10
print(score)
score -= 2
print(score)
score *= 5
print(score)
score /= 5
print(score)
score **= 2
print(score)

20
18
90
18.0
324.0

8.수학점수의 평균 구하기: 수학식을 코드로 만드는 연습을 해봅시다

In [ ]:
score1 = 10
score2 = 20
score3 = 30
n_student = 3


score_mean = (score1 + score2 + score3)/n_student

print(score_mean)

20.0

9. 추가점수를 받은 학생들의 평균:
</br>
복합 대입 연산자를 이용해 학생들의 점수를 수정하고, 평균을 다시 구해봅니다. 이를 통해 모든 data가 같은 값으로 변했을 때 평균이 어떻게 바뀌는지 확인
</br>

In [ ]:
score1 = 10
score2 = 20
score3 = 30
n_student = 3


score1 += 10
score2 += 10
score3 += 10
print(score1, score2, score3)

score_mean = (score1 + score2 + score3)/n_student

print(score_mean)

20 30 40
30.0

10.Mean Subtraction

In [ ]:
score1 = 10
score2 = 20
score3 = 30
n_student = 3


score_mean = (score1 + score2 + score3)/n_student

score1 -= score_mean
score2 -= score_mean
score3 -= score_mean

print(score1, score2, score3)
score_mean = (score1 + score2 + score3)/n_student
print(score_mean)

-10.0 0.0 10.0
0.0

11. 평균의 제곱과 제곱의 평균

variance = μ**2 - ν

In [ ]:
score1 = 10
score2 = 20
score3 = 30
n_student = 3


score_mean = (score1 + score2 + score3)/n_student


square_of_mean = score_mean**2
mean_of_square = (score1**2 + score2**2 + score3**2)/n_student

print("squar of mean: ",square_of_mean)
print("mean of square: ",mean_of_square)

squar of mean:  400.0
mean of square:  466.6666666666667

12. 분산과 표준편차</br>
수학식(분산과 표준편차)을 코드로 만드는 연습을 해봅니다.

In [ ]:
score1 = 10
score2 = 20
score3 = 30
n_student = 3

score_mean = (score1 + score2 + score3)/n_student

square_of_mean = score_mean**2
mean_of_square = (score1**2 + score2**2 + score3**2)/n_student

variance = mean_of_square - square_of_mean
standard_deviation = variance**0.5

print("variance: ",variance)
print("standard deviation: ", standard_deviation)

variance:  66.66666666666669
standard deviation:  8.16496580927726

13: Standardization</br>
분산과 표준편차를 이용하여,
수학식(standardization)을 코드로 만드는 연습을 해봅니다.

(x− μ)/σ

표준정규분포: 평균 0 표준편차 1

In [ ]:
score1 = 10
score2 = 20
score3 = 30
n_student = 3

score_mean = (score1 + score2 + score3)/n_student

square_of_mean = score_mean**2
mean_of_square = (score1**2 + score2**2 + score3**2)/n_student

variance = mean_of_square - square_of_mean
standard_deviation = variance**0.5

score1 = (score1 - score_mean) / standard_deviation
score2 = (score2 - score_mean) / standard_deviation
score3 = (score3 - score_mean) / standard_deviation

score_mean = (score1 + score2 + score3)/n_student
print("mean: ",score_mean)

square_of_mean = score_mean**2
mean_of_square = (score1**2 + score2**2 + score3**2)/n_student

variance = mean_of_square - square_of_mean
standard_deviation = variance**0.5

print("standard deviation: ",standard_deviation)

mean:  0.0
standard deviation:  1.0

14.Vector-Vector Operations</br>
벡터 간의 operation을 코드로 작성해봅시다.

In [ ]:
x1, y1, z1 = 1, 2, 3
x2, y2, z2 = 3, 4, 5

x3, y3, z3 = x1 + x2, y1 + y2, z1 + z2
x4, y4, z4 = x1 - x2, y1 - y2, z1 - z2
#Hadamard Product
x5, y5, z5 = x1 * x2, y1 * y2, z1 * z2

print(x3, y3, z3)
print(x4, y4, z4)
print(x5, y5, z5)

4 6 8
-2 -2 -2
3 8 15

15. Scalar-Vector Operations</br>
scalar-vector operation을 코드로 만드는 연습

In [ ]:
a = 10
x1, y1, z1 = 1, 2, 3

x2, y2, z2 = a * x1, a * y1, a * z1
x3, y3, z3 = a + x1, a + y1, a + z1
x4, y4, z4 = a - x1, a - y1, a - z1

print(x2, y2, z2)
print(x3, y3, z3)
print(x4, y4, z4)

10 20 30
11 12 13
9 8 7

16. vector norm:vector norm을 코드로 만드는 연습을 해봅니다.

In [ ]:
x, y, z = 1, 2, 3

norm = (x**2 + y**2 + z**2)**0.5
print(norm)

3.7416573867739413