<a href="https://colab.research.google.com/github/Leetora41053/sesac_practice/blob/main/10_25_day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

17: Making Unit Vectors
unit vector를 만드는 방법을 코드로 만드는 연습을 해봅니다

유닛벡터: 기존 벡터에서 원자에 norm을 나눠준 것, 유닛벡터 norm은 항상 1이다

In [ ]:
x, y, z = 1, 2, 3

norm = (x**2 + y**2 + z**2)**0.5

x, y, z = x/norm, y/norm, z/norm

norm = (x**2 + y**2 + z**2)**0.5

print(norm)

1.0

18. Dot Product, 내적

> **두 벡터가 유사하다**
>
= 비슷한 특성을 지닌다
= 코사인 세타 값이 커진다
= 사잇값(θ)이 작아진다

In [ ]:
x1, y1, z1 = 1, 2, 3
x2, y2, z2 = 3, 4, 5

dot_products = x1*x2 + y1*y2 + z1*z2
print(dot_products)

26

19: Euclidean distance
> 유클리디언 디스턴스

두 벡터 간의 거리

In [ ]:
x1, y1, z1 = 1, 2, 3
x2, y2, z2 = 3, 4, 5

e_distance = (x1-x2)**2 + (y1-y2)**2 + (z1-z2)**2
e_distance = e_distance**0.5
print(e_distance)

3.4641016151377544

21: Mean Squared Error

> Mean Squared Error

모델 성능 지표 중 하나라고 보면 되는데, 예측치와 얼마나 유사한지 분석할 수 있는 좋은 방법

In [ ]:
pred1, pred2, pred3 = 10, 20, 30
y1, y2, y3 = 10, 25, 40
n_data = 3

squared_error1 = (pred1-y1)**2
squared_error2 = (pred2-y2)**2
squared_error3 = (pred3-y3)**2

mse = (squared_error1 + squared_error2 + squared_error3) / n_data
print(mse)

41.666666666666664

22: List 만들기 & 원소 접근하기

python을 통해 list를 만들고 []을 통해 원소에 접근할 수 있음

In [ ]:
scores = [10, 20, 30]

print(scores[0])
print(scores[1])
print(scores[2])

10
20
30

23: List의 원소 수정하기

In [ ]:
scores = [10, 20, 30]

scores[1] = 100
scores[0] = 1099

print(scores[0])
print(scores[1])
print(scores[2])

1099
100
30

24: 수학점수들의 평균 구하기(2)

In [ ]:
scores = [10, 20, 30]
n_student = len(scores)
sum = 0

for i in range(n_student):
  sum += scores[i]

mean = sum / n_student

20.0

**25: Mean Subtraction(2)**</br>
평균을 구하는 방법을 이용하여 평균을 구하고, 원소를 수정하는 방법을 이용하여 각 원소에 평균을 빼줍니다.
Mean subtraction을 해주면 data들의 평균은 0이 됨을 확인합니다.

In [ ]:
scores = [10, 20, 30]
n_student = len(scores)
sum = 0

for i in range(n_student):
  sum += scores[i]

mean = sum / n_student
print(mean)

sum = 0
scores[0] -= mean
scores[1] -= mean
scores[2] -= mean

for i in range(n_student):
  sum += scores[i]

mean = sum / n_student

print(mean)

20.0
0.0

**26: 분산과 표준편차(2)**</br>
점수가 저장된 List를 이용하여 분산과 표준편차를 구하는 과정을 복습합니다.

In [ ]:
scores = [10, 20, 30]
n_student = len(scores)
sum = 0

for i in range(n_student):
  sum += scores[i]

mean = sum / n_student

mean_of_sqared = (scores[0]**2 + scores[1]**2 + scores[2]**2)/n_student
sqared_of_mean = mean**2

variance = mean_of_sqared - sqared_of_mean
standard_deviation = variance**0.5

print("variance: ",variance)
print("standard deviation: ",standard_deviation)

variance:  66.66666666666669
standard deviation:  8.16496580927726

**27: Standardization(2)**</br>
평균과 분산을 이용해 standardization을 하는 방법을 복습합니다.
standardization 후에 평균은 0, 표준편차는 1로 바뀌는 것을 확인합니다.

In [ ]:
scores = [10, 20, 30]
n_student = len(scores)
sum = 0

for i in range(n_student):
  sum += scores[i]

mean = sum / n_student

mean_of_sqared = (scores[0]**2 + scores[1]**2 + scores[2]**2)/n_student
sqared_of_mean = mean**2

variance = mean_of_sqared - sqared_of_mean
std = variance**0.5

scores[0] = (scores[0] - mean) / std
scores[1] = (scores[1] - mean) / std
scores[2] = (scores[2] - mean) / std

sum = 0
mean = sum / n_student

mean_of_sqared = (scores[0]**2 + scores[1]**2 + scores[2]**2)/n_student
sqared_of_mean = mean**2

variance = mean_of_sqared - sqared_of_mean
std = variance**0.5

print(mean)
print(std)

0.0
1.0

**28: Hadamard Product(2)</br>**
Vector를 List로 만드는 방법을 배우고,
이 List들을 이용해 Hadamard product을 하는 방법에 대해 복습

In [ ]:
v1, v2 = [1, 2, 3], [3, 4, 5]

v3 = [v1[0]*v2[0], v1[1]*v2[1], v1[2]*v2[2]]

print(v3)

v1, v2 = [1, 2, 3], [3, 4, 5]
v3 = []

for i in range(len(v1)):
  tmp = v1[i] * v2[i]
  v3.append(tmp)

print(v3)

[3, 8, 15]
[3, 8, 15]

**31: Vector Norm(2)**</br>
List의 원소의 접근하는 방법을 이용하여 vector norm을 구하는 방법을 복습합니다.

In [ ]:
v1 = [1, 2, 3]

norm = v1[0]**2 + v1[1]**2 + v1[2]**2
norm = norm**0.5


print(norm)

3.7416573867739413

32: Making Unit Vectors(2)</br>
List의 원소의 접근하는 방법과 List를 만드는 방법을 이용하여 unit vector를 만드는 방법을 복습합니다.
연산 후에 vector norm이 1이 됨을 확인

In [ ]:
v1 = [1, 2, 3]

norm = (v1[0]**2 + v1[1]**2 + v1[2]**2)**0.5

v1[0] /= norm
v1[1] /= norm
v1[2] /= norm

norm = (v1[0]**2 + v1[1]**2 + v1[2]**2)**0.5

print(norm)

1.0

**33: Dot Product(2)**</br>
List의 원소의 접근하는 방법을 이용하여 dot product를 연산하는 방법에 대해 복습합니다.

In [ ]:
v1, v2 = [1, 2, 3], [3, 4, 5]

dot_prod = v1[0]*v2[0] + v1[1]*v2[1] + v1[2]*v2[2]
print(dot_prod)

dot_prod = 0
dot_prod += v1[0]*v2[0]
dot_prod += v1[1]*v2[1]
dot_prod += v1[2]*v2[2]
print(dot_prod)

26
26

**34: Euclidean Distance(2)**

In [ ]:
v1, v2 = [1, 2, 3], [3, 4, 5]

norm = 0

for i in range(len(v1)):
  norm += (v1[i]-v2[i])**2

norm = norm**0.5

print(norm)

3.4641016151377544

**35. Mean Squared Error(2)**</br>
List의 원소의 접근하는 방법을 이용하여 MSE를 연산하는 방법에 대해 복습

In [ ]:
predictions = [10, 20, 30]
labels = [10, 25, 40]
n_index = len(predictions)
mse = 0

for i in range(n_index):
  mse += (predictions[i] - labels[i])**2

mse /= n_index

print(mse)

41.666666666666664

**36: for loop으로 list의 원소 접근하기**</br>
For loop을 통해 list의 원소들에 차례차례 접근하는 방법에 대해 배웁니다

In [ ]:
scores = [10, 20, 30]

for score in scores:
  print(score)

10
20
30

 **37: List 원소들의 합 구하기**</br>
 List를 직접 접근할 때의 불편함을 해결하는 방법을 배웁니다.
For loop을 통해 list의 원소들하고, 접근된 값을 이용하여 연산을 하는 방법에 대해 배웁니다.

In [ ]:
scores = [10, 20, 30]
scores_sum = 0

for score in scores:
  scores_sum += score

print(scores_sum)

60

**38: Iteration 횟수 구하기**</br>
For loop가 몇 번 iterate됬는지 구하는 방법을 배웁니다

In [ ]:
numbers = [1, 4, 5, 6, 4, 2, 1]
iter_cnt = 0

for _ in numbers:
  iter_cnt += 1
print(iter_cnt)

7

**39: 1부터 100까지의 합 구하기**</br>
1부터 100까지 더하는 상황에 대해 불편한 점을 생각해보고, 이를 해결하기 위해 range( )의 사용법에 대해 배웁니다.

In [ ]:
sum = 0
for i in range(101):
  sum += i
print(sum)

5050

**40: 1부터 100까지 List 만들기**</br>
range( )와 list.append( )를 이용하여 1부터 100까지의 원소를 가지는 list를 쉽게 만드는 방법에 대해 배웁니다.

In [ ]:
numbers = list()

for i in range(101):
  numbers.append(i)
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

**41: 100개의 0을 가진 List 만들기**</br>
range( )와 list.append( )를 사용하여 list를 초기화 하는 방법에 대해 배웁니다.

In [ ]:
list = []

for i in range(101):
  list.append(0)
print(list)

**42: for loop으로 list의 원소 접근하기(2)**</br>
For loop, len( ), range( )를 이용하여 data index를 만드는 방법과, 이를 통해 List의 원소에 접근하는 다른 방법에 대해 배웁니다.

In [ ]:
scores = [10, 20, 30]

for i in range(len(scores)):
  print(scores[i])

10
20
30

 43: for loop으로 list의 원소 수정하기</br>
 List의 원소를 수정할 때는 data index를 통해 for loop을 돌려야 됨을 이해합니다.

In [ ]:
scores = [10, 20, 30, 40, 50]

for score_idx in range(len(scores)):
  scores[score_idx] += 10
print(scores)

[20, 30, 40, 50, 60]

**44: 두 개의 List 접근하기**</br>
2개의 List들이 가진 원소들에 접근해야 될 때도, data index를 통해 for loop을 돌려야 됨을 이해합니다.

In [ ]:
list1 = [10, 20, 30]
list2 = [100, 200, 300]

for idx in range(len(list1)):
  print(list1[idx],list2[idx])

10 100
20 200
30 300

**45: 수학점수들의 평균 구하기(3)**</br>
For loop을 통해 List의 원소들의 합을 구하는 2가지 방법을 복습합니다.

In [62]:
scores = [10, 20, 30]

#method1
mean = 0

for idx in range(len(scores)):
  mean += scores[idx]

mean /= len(scores)

print(mean)

#method2
scores = [10, 20, 30]
scores_sum = 0
student_num = 0

for score_idx in range(len(scores)):
  scores_sum += scores[score_idx]
  student_num += 1

print(scores_sum)
print(student_num)
print(scores_sum/student_num)

20.0
60
3
20.0

**46: Mean Subtraction(3)**</br>
For loop을 이용하여 각 원소를 평균으로 빼주는 방법에 대해 배웁니다.

In [67]:
scores = [10, 20, 30]
scores_sum = 0

for score_idx in range(len(scores)):
  scores_sum += scores[score_idx]

scores_mean = scores_sum / len(scores)

scores_sub = []

for score_idx in range(len(scores)):
  tmp = scores[score_idx] - scores_mean
  scores_sub.append(tmp)

print(scores_sub)

[-10.0, 0.0, 10.0]

**47: 두 과목의 평균 구하기**</br>
Data index를 통해 두 개의 list에 들어있는 값들의 평균을 구해봅니다.
특정 값(평균)들을 가지고 있는 List()를 사용하는 방법에 대해 익힙니다.

In [72]:
math_scores = [40, 60, 80]
english_scores = [30, 40, 50]

#sum과 means를 둘 다 리스트로 출력하라

n_class = 2
n_student = len(math_scores)

score_means = []
score_sums = []

for _ in range(n_class):
  score_sums.append(0)

for class_idx in range(n_student):
  score_sums[0] += math_scores[class_idx]
  score_sums[1] += english_scores[class_idx]

print("sums of scores: ", score_sums)

for i in range(n_class):
  class_mean = score_sums[i] / n_student
  score_means.append(class_mean)
print("mean of scores: ",score_means)

sums of scores:  [180, 120]
mean of scores:  [60.0, 40.0]

**48: Mean Subtraction(4)** </br>
data index를 통해 두 List에 대한 mean subtraction을 배웁니다

In [74]:
math_scores = [40, 60, 80]
english_scores = [30, 40, 50]
n_student = len(math_scores)
n_class = 2

scores_sums = []
scores_means = []

for i in range(n_class):
  scores_sums.append(0)

for i in range(n_student):
  score_sums[0] += math_scores[i]
  score_sums[1] += english_scores[i]

print("sums of scores: ", score_sums)

for class_idx in range(n_class):
  class_mean = score_sums[class_idx] / n_student
  score_means.append(class_mean)

for student_idx in range(n_student):
  math_scores[student_idx] -= score_means[0]
  english_scores[student_idx] -= score_means[1]

print("Math scores after mean subtraction: ", math_scores)
print("English scores after mean subtraction: ", english_scores)

sums of scores:  [540, 360]
Math scores after mean subtraction:  [-20.0, 0.0, 20.0]
English scores after mean subtraction:  [-10.0, 0.0, 10.0]

**49: 분산과 표준편차(3)**</br>
For loop을 사용하여 분산과 표준편차를 쉽게 구하는 방법에 대해 배웁니다.
For loop 안에 여러 줄이 있는 상황을 배워봅니다.

In [2]:
scores = [10, 20, 30]
n_student = len(scores)
score_sum, score_square_sum = 0, 0

for score in scores:
  score_sum += score
  score_square_sum += score**2

mean = score_sum / n_student
square_of_mean = mean**2
mean_of_square = score_square_sum / n_student

variance = mean_of_square - square_of_mean
std = variance**0.5
print(std)

8.16496580927726

**50: Standardization(3)**</br>
Data index를 이용하여 standardization을 하는 방법에 대해 복습합니다.

x := x− μ / σ

In [7]:
scores = [10, 20, 30]
n_student = len(scores)
score_sum, score_square_sum = 0, 0
std_scores = []

for score in scores:
  score_sum += score
  score_square_sum += score**2

mean = score_sum / n_student
square_of_mean = mean**2
mean_of_square = score_square_sum / n_student

variance = mean_of_square - square_of_mean
std = variance**0.5

for student_idx in range(n_student):
  std_score = (scores[student_idx] - mean) / std
  std_scores.append(std_score)

print(std_scores)

##standardization 의 mean과 std구하기
score_sum, score_square_sum = 0, 0

for score in std_scores:
  score_sum += score
  score_square_sum += score**2

mean = score_sum / n_student

print("mean: ",mean)

square_of_mean = mean**2
mean_of_square = score_square_sum / n_student

variance = mean_of_square - square_of_mean
std = variance**0.5

print("std: ",std)

[-1.224744871391589, 0.0, 1.224744871391589]
mean:  0.0
std:  1.0