<a href="https://colab.research.google.com/github/Leetora41053/sesac_practice/blob/main/10_30.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#51.분산과 표준편차

math_scores, english_scores = [50, 60, 70], [30, 40, 50]
n_student = len(math_scores)

math_sum, english_sum = 0, 0

math_square_sum, english_square_sum = 0, 0

for student_idx in range(n_student):
  math_sum += math_scores[student_idx]
  math_square_sum = math_scores[student_idx]**2

  english_sum += english_scores[student_idx]
  english_square_sum = english_scores[student_idx]**2


math_mean = math_sum / n_student
english_mean = english_sum / n_student

math_variance = math_square_sum/n_student - math_mean**2
english_variance = english_square_sum/n_student - english_mean**2

math_std = math_variance**0.5
english_std = english_variance**0.5

print("mean/std of Math: ", math_std)
print("mean/std of Englis: ", english_std)

mean/std of Math:  (2.7154776617421844e-15+44.347115652166906j)
mean/std of Englis:  (1.6954467209072738e-15+27.688746209726915j)

In [7]:
#52. Standaradization

#51.분산과 표준편차

math_scores, english_scores = [50, 60, 70], [30, 40, 50]
n_student = len(math_scores)

math_sum, english_sum = 0, 0

math_square_sum, english_square_sum = 0, 0

for student_idx in range(n_student):
  math_sum += math_scores[student_idx]
  math_square_sum = math_scores[student_idx]**2

  english_sum += english_scores[student_idx]
  english_square_sum = english_scores[student_idx]**2


math_mean = math_sum / n_student
english_mean = english_sum / n_student

math_variance = math_square_sum/n_student - math_mean**2
english_variance = english_square_sum/n_student - english_mean**2

math_std = math_variance**0.5
english_std = english_variance**0.5

print("mean/std of Math: ", math_std)
print("mean/std of Englis: ", english_std)

for student_idx in range(n_student):
  math_scores[student_idx] = (math_scores[student_idx]-math_mean)/math_std
  english_scores[student_idx] = (english_scores[student_idx]-english_mean)/english_std

print(math_scores)
print(english_scores)

mean/std of Math:  (2.7154776617421844e-15+44.347115652166906j)
mean/std of Englis:  (1.6954467209072738e-15+27.688746209726915j)
[(-1.3807513534282293e-17+0.22549380840084865j), 0j, (1.3807513534282293e-17-0.22549380840084865j)]
[(-2.2114522446616617e-17+0.36115755925730764j), 0j, (2.2114522446616617e-17-0.36115755925730764j)]

In [12]:
#53. Hadamard Product

v1 = [1, 2, 3, 4, 5]
v2 = [10, 20, 30, 40, 50]

#method1
v3 = []
for dim_idx in range(len(v1)):
  v3.append(v1[dim_idx]*v2[dim_idx])
print(v3)

#method2
v3 = []

for _ in range(len(v1)):
  v3.append(0)
for dim_idx in range(len(v1)):
  v3[dim_idx] = v1[dim_idx] * v2[dim_idx]

print(v3)

[10, 40, 90, 160, 250]
[10, 40, 90, 160, 250]

In [14]:
#54. vector norm
#for loop을 이용해 vector  norm을 구하기

v1 = [1, 2, 3]
tmp = 0

for dim_idx in range(len(v1)):
  tmp += v1[dim_idx]**2

print(tmp**0.5)

3.7416573867739413

In [18]:
#55. Making unit vectors

v1 = [1, 2, 3]
tmp = 0

for dim_idx in range(len(v1)):
  tmp += v1[dim_idx]**2

norm = tmp**0.5

tmp = 0

for dim_idx in range(len(v1)):
  v1[dim_idx] /= norm

for dim_idx in range(len(v1)):
  tmp += v1[dim_idx]**2

norm = tmp**0.5

print(norm)

1.0

In [19]:
#56. dot product

v1 , v2 = [1, 2, 3], [3, 4, 5]

dot_prod = 0

for dim_idx in range(len(v1)):
  dot_prod += v1[dim_idx]*v2[dim_idx]
print(dot_prod)

26

In [21]:
#57. euclidean distance

v1, v2 = [1, 2, 3], [3, 4, 5]

e_dist = 0
for dim_idx in range(len(v1)):
  e_dist += (v1[dim_idx]-v2[dim_idx])**2

e_dist = e_dist**0.5

print(e_dist)

3.4641016151377544

In [27]:
#Mean Squared Error

predictions = [10, 20, 30]
labels = [10, 25, 40]

n_data = len(predictions)
diff_square_sum = 0

for dim_idx in range(n_data):
  diff_square_sum += (predictions[dim_idx] - labels[dim_idx])**2

mean_square_error = diff_square_sum/n_data

print(mean_square_error)

41.666666666666664

In [35]:
#59. 숫자 빈도 구하기
#끝나고 복습
numbers = [0, 2, 4, 2, 1, 4, 3, 1, 2, 3, 4, 1, 2, 3, 4]
number_cnt = [0,0,0,0,0]

for num in numbers:
  number_cnt[num] += 1

print(number_cnt)

[1, 3, 4, 3, 4]

In [36]:
#60.합격 알려주기

score = 60

if score > 50:
  print("Pass")

Pass

In [38]:
#61. 합격 / 불합격 알려주기


score = 40
cutoff = 50

if score > cutoff:
  print("Pass!")
else:
  print("Try again")

Try again

In [41]:
#62. 초를 분초로 표현하기

seconds = 200

if seconds > 60:
  minutes = seconds // 60
  seconds -= minutes*60

else:
  minutes = 0

print(minutes, seconds)

3 20

In [46]:
#63. 초를 시분초로 표현하기

seconds = 5000

if seconds >= 3600:
  hours = seconds // 3600
  seconds -= hours * 3600
else:
  hour = 0

if seconds >= 60:
    minutes = seconds // 60
    seconds -= minutes*60
else:
  minutes = 0

print(hour,minutes,seconds)

1 23 20