<a href="https://colab.research.google.com/github/Leetora41053/sesac_practice/blob/main/11_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#69. 합격 / 불합격 학생들의 평균 구하기

scores = [20, 50, 10, 60, 90]
cutoff = 50

pass_scores, p_mean = [], 0
no_pass_scores, np_mean = [], 0

for score in scores:
  if score > cutoff:
    pass_scores.append(score)
  else:
    no_pass_scores.append(score)

for i in range(len(pass_scores)):
  p_mean += pass_scores[i]
p_mean /= len(pass_scores)

for i in range(len(no_pass_scores)):
  np_mean += no_pass_scores[i]
np_mean /= len(no_pass_scores)

print("mean of passed: ", p_mean)
print("mean of passed: ", np_mean)
#result 'mean of passed: 75
#result 'mean of no passed: 26.6

mean of passed:  75.0
mean of passed:  26.666666666666668

In [8]:
#70. 홀수/짝수 구하기

numbers = []
for num in range(10):
  numbers.append(num)

numbers.append(3.14)

print(numbers)

for num in numbers:
  if num % 2 == 0:
    print("Even Number")
  elif num % 1 == 0:
    print("Odd Number")
  else:
    print("Not an integer")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 3.14]

In [10]:
#71. n배수들의 합 구하기
multiple_of = 3

numbers = []

for num in range(100):
  if num % multiple_of == 0:
    numbers.append(num)


sum_multiple_of_numbers = 0
for num in numbers:
  sum_multiple_of_numbers += num

print(numbers)
print(sum_multiple_of_numbers)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
1683

In [15]:
#72. 최댓값, 최솟값 구하기
#for loop와 if statement를 이용해 최댓값과 최솟값을 구하는 과정에 대해 배워봅니다.

scores = [60, 40, 70, 20, 30]

M, m = 0, 100
max_scores , min_scores = 0, 0
for score in scores:
  if score > M:
    M = score
  if score < m:
    m = score

print(M)
print(m)

70
20

In [17]:
#73. 최댓값, 최솟값 구하기(2)

scores = [-20, 60, 40, 70, 120]

#method 1
M, m = scores[0], scores[0]
for score in scores:
  if score > M:
    M = score
  if score < m:
    m = score

print(M)
print(m)

#method2

M, m = None, None
for score in scores:
  if M == None or score > M:
    M = score
  if m == None or score < m:
    m = score

120
-20

In [22]:
#74. Min , Max normalization
# x-m/M - m
scores = [-20, 60, 40, 70, 120]

M, m = scores[0], scores[0]

for score in scores:
  if score > M:
    M = score
  if score < m:
    m = score

for idx in range(len(scores)):
  scores[idx] -= m
  scores[idx] /= (M-m)

print(scores)

M, m = scores[0], scores[0]

for score in scores:
  if score > M:
    M = score
  if score < m:
    m = score
print(M,m)

[0.0, 0.5714285714285714, 0.42857142857142855, 0.6428571428571429, 1.0]
1.0 0.0

In [33]:
#75. 최댓값, 최솟값의 위치 구하기

#최댓값, 최솟값을 구하는 방식을 확장하여 최댓값, 최솟값의 위치를 구하는 방식을 배워봅니다.

scores = [60, -20, 40, 120, 70]

M, m = None, None

M_idx, m_idx = 0, 0

for score_idx in range(len(scores)):
  score = scores[score_idx]
  if M == None or score > M:
      M = score
      M_idx = score_idx

  if m == None or score < m:
      m = score
      m_idx = score_idx

print("M/M_idx: ", M, M_idx)
print("m/m_idx: ", m, m_idx)

M/M_idx:  120 3
m/m_idx:  -20 1