<a href="https://colab.research.google.com/github/Leetora41053/sesac_practice/blob/main/12_18_web_scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 칼럼명 가져오기

In [ ]:
# 라이브러리 호출
import requests
from bs4 import BeautifulSoup

# URL 접속
response = requests.get("https://www.weather.go.kr/w/community/knowledge/standard.do")
print(response)

# HTML 받아오기
HTML = response.text
soup = BeautifulSoup(HTML, 'html.parser')

# 정보 가져오기
column_tr = soup.select_one('body > div.container > section > div > div.cont-wrap > div > div > table > thead > tr')
# column_tr.selct("")
columns = [i.text for i in column_tr.find_all('th')]
columns

# columns = []
# for i in column_tr.find_all('th'):
#     columns.append(i.text)

<Response [200]>

['종류', '주의보', '경보']

# 로우명 가져오기

In [ ]:
# 라이브러리 호출
import requests
from bs4 import BeautifulSoup

# URL 접속
response = requests.get("https://www.weather.go.kr/w/community/knowledge/standard.do")
print(response)

# HTML 받아오기
HTML = response.text
soup = BeautifulSoup(HTML, 'html.parser')

table_body = soup.select_one('body > div.container > section > div > div.cont-wrap > div > div > table > tbody')

#table header
th = table_body.select('th')
rows = [i.text for i in th]
rows

<Response [200]>

['강풍', '풍랑', '호우', '대설', '건조', '폭풍해일', '한파', '태풍', '황사', '폭염']

### 강풍 / 풍랑의 주의보와 경보를 가져와라

In [ ]:
# 라이브러리 호출
import requests
from bs4 import BeautifulSoup

# URL 접속
response = requests.get("https://www.weather.go.kr/w/community/knowledge/standard.do")
print(response)

# HTML 받아오기
HTML = response.text
soup = BeautifulSoup(HTML, 'html.parser')

table_body = soup.select_one('body > div.container > section > div > div.cont-wrap > div > div > table > tbody')

#딕셔너리 형태로 맞춰주기
tr = table_body.select('tr')[:-1] #마지막 칼럼을 제외시킨다
result = {}

#key 값을 만들어주기
for i in tr:
    title = i.select_one('th').text
    contents = [i.text.replace('\n','').replace('\t','') for i in i.select('td')]
    result[title] = contents

<Response [200]>

In [ ]:
result['강풍']

['육상에서 풍속 50.4km/h(14m/s) 이상 또는 순간풍속 72.0km/h(20m/s) 이상이예상될 때. 다만, 산지는 풍속 61.2km/h(17m/s) 이상 또는 순간풍속 90.0km/h(25m/s) 이상이예상될 때',
 '육상에서 풍속 75.6km/h(21m/s) 이상 또는 순간풍속 93.6km/h(26m/s) 이상이예상될 때. 다만, 산지는 풍속 86.4km/h(24m/s) 이상 또는 순간풍속 108.0km/h(30m/s) 이상이예상될 때']

### YES24 책 제목 가져오기

In [ ]:
# 라이브러리 호출
import requests
from bs4 import BeautifulSoup

# URL 접속
response = requests.get("https://www.yes24.com/Product/Search?domain=ALL&query=%EC%9E%90%EC%97%B0%EC%96%B4%20%EC%B2%98%EB%A6%AC")
# HTML 받아오기
HTML = response.text
soup = BeautifulSoup(HTML, 'html.parser')

book_list_html = soup.select_one('#yesSchList')
book_list = [i.text for i in book_list_html.select('a.gd_name')]
book_list

['AI 2024 트렌드&활용백과',
 '혼자 공부하는 머신러닝+딥러닝',
 '파이토치 트랜스포머를 활용한 자연어 처리와 컴퓨터비전 심층학습',
 '인공지능 기반 자연어 처리',
 '트랜스포머를 활용한 자연어 처리',
 '밑바닥부터 시작하는 딥러닝 2',
 'Do it! BERT와 GPT로 배우는 자연어 처리',
 '파이토치로 배우는 자연어 처리',
 '자연어처리 바이블',
 '트랜스포머를 활용한 자연어 처리',
 '텐서플로 2와 머신러닝으로 시작하는 자연어 처리',
 '베이지안으로 접근하는 자연어 처리 2/e',
 '자연어처리바이블',
 '김기현의 자연어 처리 딥러닝 캠프 파이토치 편',
 '파이썬으로 시작하는 한국어 정보 검색과 자연어 처리',
 '예제로 배우는 자연어 처리 기초',
 '자연어 처리와 딥러닝',
 'Do it! BERT와 GPT로 배우는 자연어 처리',
 '개발자를 위한 머신러닝&딥러닝',
 '파이썬으로 배우는 자연어 처리 인 액션',
 '자연어 처리의 정석',
 '모두의 한국어 텍스트 분석 with 파이썬',
 '텐서플로 2와 머신러닝으로 시작하는 자연어 처리',
 '파이토치로 배우는 자연어 처리']

### 네이버 금융 배당페이지 웹스크레이핑

In [ ]:
# 라이브러리 호출
import requests
from bs4 import BeautifulSoup

# URL 접속
response = requests.get("https://finance.naver.com/sise/dividend_list.naver")
# HTML 받아오기
HTML = response.text
soup = BeautifulSoup(HTML, 'html.parser')

In [ ]:
# 칼럼 가져오기
columns_html = soup.select_one('#contentarea_left > table.type_1.tb_ty > thead')
columns_th = columns_html.select('th')
columns = [i.text for i in columns_th]
columns.remove('과거 3년 배당금')
columns

['종목명',
 '현재가 ',
 '기준월 ',
 '배당금 ',
 '수익률(%)',
 '배당성향(%)',
 'ROE(%) ',
 'PER(배) ',
 'PBR(배) ',
 '1년전',
 '2년전',
 '3년전']

In [ ]:
#내부 값 가져오기

table_body = soup.select_one('#contentarea_left > table.type_1.tb_ty > tbody')
row_html = table_body.select('tr')
df_values = []
for i in range(len(row_html)):
    if row_html[i].select_one('.txt').text != '\xa0':
        title = row_html[i].select_one('.txt').text
        values = [i.text for i in row_html[i].select('.num')]
        result = [title] + values
        df_values.append(result)

In [ ]:
#데이터 프레임 만들기
import pandas as pd
df = pd.DataFrame(df_values, columns = columns)
df.head()

,종목명,현재가,기준월,배당금,수익률(%),배당성향(%),ROE(%),PER(배),PBR(배),1년전,2년전,3년전
0,한국ANKOR유전,348,22.12,"1,870",537.36,-,-,-,-,180,120,185
1,락앤락,"6,640",22.12,"1,953",29.41,-637.03,-2.38,-20.83,0.52,0,0,0
2,한국패러랠,"1,491",22.03,390,26.16,-,-,-,-,90,235,165
3,일성신약,"24,900",22.12,"4,000",16.06,28.18,26.59,2.13,0.28,150,150,150
4,리드코프,"6,170",22.12,800,12.97,64.02,7.47,6.09,0.44,800,800,150

In [ ]:
# 속성에 있는 값에 접글 할때 .get을 활용한다.
last_page = int(soup.select_one('td.pgRR > a').get('href').split('&page=')[-1])
last_page

27

In [ ]:
def getPageData(page_num):
    # URL 접속
    response = requests.get(f"https://finance.naver.com/sise/dividend_list.naver?&page={page_num}")
    # HTML 받아오기
    HTML = response.text
    soup = BeautifulSoup(HTML, 'html.parser')

    columns_html = soup.select_one('#contentarea_left > table.type_1.tb_ty > thead')
    columns_th = columns_html.select('th')
    columns = [i.text for i in columns_th]
    columns.remove('과거 3년 배당금')

    table_body = soup.select_one('#contentarea_left > table.type_1.tb_ty > tbody')
    row_html = table_body.select('tr')
    df_values = []
    for i in range(len(row_html)):
        if row_html[i].select_one('.txt').text != '\xa0':
            title = row_html[i].select_one('.txt').text
            values = [i.text for i in row_html[i].select('.num')]
            result = [title] + values
            df_values.append(result)

    df = pd.DataFrame(df_values, columns = columns)
    return df

In [ ]:
empty_df = pd.DataFrame()
for i in range(1, last_page+1):
    empty_df = pd.concat([empty_df, getPageData])
empty_df = empty_df.reset_index(drop=True)
empty_df

TypeError: cannot concatenate object of type '<class 'function'>'; only Series and DataFrame objs are valid