<a href="https://colab.research.google.com/github/Leetora41053/sesac_practice/blob/main/9_19_exercise_with_math.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
#벡터의 구조 & 연산
x1, y1, z1 = 1, 2, 3
x2, y2, z2 = 3, 4, 5

x3, y3, z3 = x1 + x2, y1 + y2, z1 + z2
x4, y4, z4 = x1 - x2, y1 - y2, z1 - z2
x5, y5, z5 = x1 * x2, y1 * y2, z1 * z2

print(x2, y2, z2)
print(x3, y3, z3)
print(x4, y4, z4)

3 4 5
4 6 8
-2 -2 -2

In [ ]:
#스칼라의 벡터 구조
a = 10
x1, y1, z1 = 1, 2, 3

x2, y2, z2 = a*x1, a*y1, a*z1
x3, y3, z3 = a + x1, a + y1, a + z1
x4, y4, z4 = a - x1, a - y1, a - z1

print(x2, y2, z2)
print(x3, y3, z3)
print(x4, y4, z4)

10 20 30
11 12 13
9 8 7

In [ ]:
#유닛 벡터 만들기

x, y, z = 1, 2, 3

norm = (x**2 + y**2 + z**2)**0.5
print(norm)

3.7416573867739413

In [ ]:

x, y, z = x/norm, y/norm, z/norm
norm = (x**2 + y**2 + z**2)**0.5
print(norm)

1.0

In [ ]:
#Dot Product(내적)
x1, y1, z1 = 1, 2, 3
x2, y2, z2 = 3, 4, 5

dot_prod = x1*x2 + y1*y2 + z1*z2
print(dot_prod)

26

In [ ]:
#유클리디안 디스턴스

x1, y1, z1 = 1, 2, 3
x2, y2, z2 = 3, 4, 5

euclidian_distance = ((x1-x2)**2 + (y1-y2)**2 + (z1-z2)**2)**0.5

#euclidian_distance **= 0.5 = 루트 씌워주기
print(euclidian_distance)

3.4641016151377544

In [ ]:
#mean squared error(mse)

#예측치를 선언합니다
pred1, pred2, pred3 = 10, 20, 30

#y값을 생성합니다 & 데이터의 수를 선언합니다
y1, y2, y3 = 10, 25, 40
n_data = 3

#에러 값과 정답값의 차의 제곱을 선언합니다
s_error1 = (pred1 - y1)**2
s_error2 = (pred1 - y2)**2
s_error3 = (pred1 - y3)**2

#MSE를 연산합니다
mse = (s_error1 + s_error2 + s_error3)/n_data
print(mse)

# 실습

In [ ]:
#수학점수 평균 구하기

scores = [10, 20, 30]

#학생의 수를 변수로 선언합니다. len값을 통해 가변적으로 학생 수를 입력해줄 수 있습니다.
n_student = len(scores) # len(scores) = 3

#리스트의 항목들을 하나하나 더해주어 평균을 구합니다
mean = (scores[0] + scores[1] + scores[2]) / n_student
print("score mean :", mean)

score mean : 20.0

In [ ]:
#Mean Subtraction

scores = [10, 20, 30]

#학생의 수를 변수로 선언합니다. len값을 통해 가변적으로 학생 수를 입력해줄 수 있습니다.
n_student = len(scores) # len(scores) = 3

#리스트의 항목들을 하나하나 더해주어 평균을 구합니다
mean = (scores[0] + scores[1] + scores[2]) / n_student
print("score mean :", mean)

#리스트 항목들의 값에서 평균을 빼줍니다
scores[0] -= mean
scores[1] -= mean
scores[2] -= mean

#평균은 항상 0이 됩니다
mean = (scores[0] + scores[1] + scores[2]) / n_student

score mean : 20.0

In [ ]:
#분산과 표준편차

scores = [10, 20, 30]
n_student = len(scores) # len(scores) = 3
mean = (scores[0] + scores[1] + scores[2]) / n_student

#평균을 제곱합니다
square_of_mean = mean**2

#제곱의 평균을 구합니다
mean_of_square =  (scores[0]**2 + scores[1]**2 + scores[2]**2)/len(scores)

#분산과 표준편차를 구합니다
variance = mean_of_square - square_of_mean
standard_deviation = variance**0.5

print(variance)
print(standard_deviation)

66.66666666666669
8.16496580927726

In [ ]:
#분산과 표준편차

scores = [10, 20, 30]
n_student = len(scores) # len(scores) = 3
mean = (scores[0] + scores[1] + scores[2]) / n_student

#평균을 제곱합니다
square_of_mean = mean**2

#제곱의 평균을 구합니다
mean_of_square =  (scores[0]**2 + scores[1]**2 + scores[2]**2)/len(scores)

#분산과 표준편차를 구합니다
variance = mean_of_square - square_of_mean
standard_deviation = variance**0.5

print(variance)
print(standard_deviation)

66.66666666666669
8.16496580927726

In [ ]:
#표준 정규 분포 정리

scores = [10, 20, 30]
n_student = len(scores) # len(scores) = 3
mean = (scores[0] + scores[1] + scores[2]) / n_student

#평균을 제곱합니다
square_of_mean = mean**2

#제곱의 평균을 구합니다
mean_of_square =  (scores[0]**2 + scores[1]**2 + scores[2]**2)/len(scores)

#분산과 표준편차를 구합니다
variance = mean_of_square - square_of_mean
standard_deviation = variance**0.5

#표준편차를 분모로 하고, 각 항목 마다 평균을 빼줍니다
scores[0] = (scores[0] - mean)/standard_deviation
scores[1] = (scores[1] - mean)/standard_deviation
scores[2] = (scores[2] - mean)/standard_deviation

mean = (scores[0] + scores[1] + scores[2]) / n_student
mean_of_square =  (scores[0]**2 + scores[1]**2 + scores[2]**2)/len(scores)
square_of_mean = mean**2
variance = mean_of_square - square_of_mean
standard_deviation = variance**0.5

#평균 값의 합이 0이 됨을 확인합니다
print("scores mean: ",mean)
#표준편차 합이 1이 됨을 확인합니다
print("standard deviation: ",standard_deviation)

scores mean:  0.0
standard deviation:  1.0

In [ ]:
#Hadamard Product(2)

v1, v2 = [1, 2, 3] , [3, 4, 5]
v3= [v1[0]*v2[0], v1[1]*v2[1], v1[2]*v2[2]]
print(v3)

v3 = [0, 0, 0]
v3[0] = v1[0]*v2[0]
v3[1] = v1[1]*v2[1]
v3[2] = v1[2]*v2[2]
print(v3)

[3, 8, 15]
[3, 8, 15]

In [ ]:
#list()와 append()

#빈 리스트를 선언합니다
v1 = [] = list()
print(v1)

#빈 리스트에 index를 하나 추가합니다
v1.append(1)
print(v1)

#빈 리스트에 index를 하나 더 추가합니다
v1.append(2)
print(v1)

[]
[1]
[1, 2]

In [ ]:
#Hadamard Product

v1, v2 = [1, 2, 3], [3, 4, 5]

v3=[]
v3.append(v1[0] * v2[0])
v3.append(v1[1] * v2[1])
v3.append(v1[2] * v2[2])

print(v3)

[3, 8, 15]

In [ ]:
#Vector norm

v1 = [1, 2, 3]
#method 1.
# 제곱의 합을 한 뒤 제곱근을 씌워 벡터의 길이를 출력합니다(피타고라스 정리)
norm = (v1[0]**2 + v1[1]**2 + v1[2]**2)**0.5
print(norm)

#method 2.
norm = 0
norm += v1[0]**2
norm += v1[1]**2
norm += v1[2]**2
norm**0.5
print(norm)

In [ ]:
#unit vector

#유닛벡터를 구합니다

v1 = [1, 2, 3]
#method 1.
# 제곱의 합을 한 뒤 제곱근을 씌워 벡터의 길이를 출력합니다(피타고라스 정리)
norm = (v1[0]**2 + v1[1]**2 + v1[2]**2)**0.5
print(norm)

#벡터의 norm을 나눠준 후 그 norm값은 항상 1이 됩니다
v1 = [v1[0]/norm, v1[1]/norm, v1[2]/norm]
norm = (v1[0]**2 + v1[1]**2 + v1[2]**2)**0.5
print(norm)

In [ ]:
#Dot Product(내적)

v1, v2 = [1,2,3],[3,4,5]

#내적 구하는 method.1
dot_prod = v1[0]*v2[0] + v1[1]*v2[1] + v1[2]*v2[2]
print(dot_prod)

#내적 구하는 method.2
dot_prod = 0
dot_prod += v1[0]*v2[0]
dot_prod += v1[0]*v2[0]
dot_prod += v1[0]*v2[0]

print(dot_prod)

26

In [ ]:
#Euclidian Distance
#L2 놈: 유클리드 디스턴스 타입
#L1 놈: 맨해튼 놈
v1, v2 = [1, 2, 3], [3, 4, 5]

e_distance = 0

#두 리스트 간의 차를 통해 벡터 간의 거리를 구합니다
e_distance += (v1[0] - v2[0])**2
e_distance += (v1[1] - v2[1])**2
e_distance += (v1[2] - v2[3])**2
e_distance **= 0.5
print(e_distance)

In [ ]:
#MSE: Mean Squared Error

#모델 예측값이라고 할 수 있음

#예측치를 선업합니다
prediction = [10, 20, 30]

#실제 데이터를 선업합니다
labels = [10, 25, 40]

#데이터 수를 선언합니다
n_data = len(prediction)

mse= 0
mse += (prediction[0] - labels[0])**2
mse += (prediction[1] - labels[1])**2
mse += (prediction[2] - labels[2])**2
mse /= n_data
print(mse)

41.666666666666664

In [ ]:
#for loop을 통해 list 원소 접근하기

scores = [10, 20, 30]

for score in scores:
  print(score)

10
20
30

In [ ]:
# List 원소들의 합 구하기

scores = [10, 20, 30]

#덧셈/뺄셈일 경우에만 0으로 초기화
#곱셉 나눗셈일 경우 1로 설정해주는 것
score_sum = 0
for score in scores:
  score_sum += score
print(score_sum)

60

In [ ]:
#literation 횟수 구하기

numbers = [1, 4, 5, 6, 4, 2, 1]
iter_cnt = 0

#for문만 돌리는 목적
for _ in numbers:
  iter_cnt += 1
print(iter_cnt)

7

In [ ]:
#1부터 100까지의 합 구하기

num_sum = 0

#숫자의 총합 구하기
for i in range(101):
  #다음 값을 추가해줍니다
  num_sum += i
print(num_sum)

5050

In [ ]:
#1부터 100까지의 List 만들기

numbers = []
for i in range(1, 101):
  #반복적으로 index 삽입
  numbers.append(i)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
#100개의 0을 가진 List
numbers = []
for i in range(1, 101):
  #반복적으로 index 삽입
  numbers.append(0)
print(numbers)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
#for loop으로 list 원소 접근하기

scores = [10, 20, 30]

#method1. 간단한 for문 돌리기
for score in scores:
  print(score)


#method2. index for문 돌리는 방법
#lengt를 활용한 인자 추출하기
for score_idx in range(len(scores)):
  print(scores[score_idx])

10
20
30
10
20
30

In [ ]:
#for loop으로 list의 원소 수정하기

scores = [10, 20, 30, 40, 50]

#반복문을 통해 scores 안의 인자들을 10씩 더해줍니다
for score_idx in range (len(scores)):
  scores[score_idx] += 10

print(scores)

[20, 30, 40, 50, 60]

In [ ]:
#두 개의 list에 접근하기

list1= [10, 20, 30]
list2 = [100, 200, 300]

#리스트의 길이가 같으므로 아무거나 선택해줘도 됩니다
for idx in range (len(list1)):
  print(list1[idx],list2[idx] )

10 100
20 200
30 300

In [ ]:
#수학점수들의 평균 구하기

scores = [10, 20, 30]


#method 1.
score_sum = 0
n_student = 0
for i in scores:
  score_sum += score_sum
  n_student += 1
score_mean = score_sum / n_student
print("score mean: ", score_mean)


#method 1.
score_sum = 0
for score_idx in range (len(scores)):
  score_sum += scores[score_idx]
score_mean = score_sum / len(scores)
print(score_mean)

score mean:  0.0
20.0

In [ ]:
#Mean Subtraction(3)
scores = [10, 20, 30]

#method1 / Exercise.수학 점수들의 평균 구하기
scores_ms = list()
for score in scores:
  scores_ms.append(score - score_mean)
print(scores_ms)

#method2 / Exercise.0 - 45: 수학 점수들의 평균 구하기
for score_idx in range(len(scores)):
  scores[score_idx] -= score_mean
print(scores)

[-10.0, 0.0, 10.0]
[-10.0, 0.0, 10.0]

In [ ]:
#두 과목의 평균 구하기

math_scores = [40, 60, 80]
english_scores = [30, 40, 50]

n_class = 2
n_sutdent = len(math_scores)

score_sums = []
score_means = []

for _ in range(n_class):
  score_sums.apnned()

for score_idx in range (n_student):
  score_sums[0] += math_scores[score_idx]
  score_sums[1] += english_scores[score_idx]