<a href="https://colab.research.google.com/github/Leetora41053/sessac_python/blob/main/9_6_python_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#함수

In [ ]:
def sum(num1, num2):
  result = num1 + num2
  return result

In [ ]:
sum(3,4)

7

In [ ]:
sum(3,4)
sum(num1 = 3, num2 = 4)
#기본적으로 순서가 들어가 있음
#파라미터를 명시한다면 순서가 지켜지지 않아도 된다

7

In [ ]:
def say_myself(name, old, man = True):
	print(f'나의 이름은 {name}입니다')
	print(f'나의 나이는 {old}입니다')
	if man:
		print('남자입니다')
	else:
		print('여자입니다')

say_myself('서준범',26) #아래 구문과 동일
say_myself('서준범',26,True)
say_myself('서이준',27,False)
say_myself(old = '10', name = '뽀로로')

### 전역변수 vs. 지역변수

- 전역변수: 함수 외부에서 선언된 변수, 프로그램 전체에서 사용 가능
- 지역변수: 함수 내부에서 선언된 변수, 해당 함수 내부에서만 사용 가능

In [ ]:
def test():
  local_var = 20
test()
----
print(local_var)-> error

In [ ]:
def test():
  local_var = 20
test()
----
print(local_var)-> error

In [ ]:
def test3():
	global local_var = 20
	local_var = 20
test3()
----
print(local_var)-> 20

In [ ]:
print(local_var)

#### Example 2-9. 입력하는 모든 수의 평균을 계산하는 함수 만들기
* 입력 개수에 상관없이 사용하기 위해, 함수 입력 값 자리에, *args를 사용

In [ ]:
def means(*args):
	sum1 = 0
	count1 = 0
	for i in args:
		sum1 = sum1 + i
		count1 += 1
	result = sum1/count1
	return result

print(means(1,2,3))

2.0

In [ ]:
def cal(num1, num2):
	plus = num1 + num2
	minus= num1 - num2
	multiple = num1 * num2
	divide = num1 / num2
	return plus,minus,multiple,divide

cal(1,2)

(3, -1, 2, 0.5)

In [ ]:
def cal(num1, num2):
	num1 = int(input('첫번째 숫자를 입력해주세요.'))
  num2 = int(input('두번째 숫자를 입력해주세요.'))

cal(1,2)

# 클래스

In [ ]:
class FourCal:
  pass
a= Fourcal(1)
type(a)
<class '__main__.FourCal'>

인스턴스 생성을 통한

In [ ]:
class FourCal:
  def set_data(self, num1, num2)
		self.num1 = num1
		self.num2 = num2
	def add(self):
		return self.num1 + self.num2
a = FoulCal() # -> a라는 인스턴스 클래스를 사용
a.set_data(10,20)
print(a.num1, a.num2)
print(a.add())

In [ ]:
#FourCal 클래스 생성 / 생성자 이용 / 사칙연산 계산

class FourCal:
  def __init__(self, num1, num2):
    self.num1 = num1
    self.num2 = num2
  def add(self):
    return num1 + num2
  def abs(self):
    return

1. BackAccount 이름 클래스 생성
2. 생성자 메서드로, 계좌 번호, 예금주 이름, 초기 잔액을 받아 계좌를 생성합니다.
3. 입금, 출금, 현재 계좌의 잔액을 반환하는 메서드를 생성합니다.

In [54]:
class BackAccount:
  def __init__(self,num, name, default):
    self.num = num
    self.name = name
    self.default = default


  def deposit(self, money):
    self.default = self.default + money

  def withdraw(self, money):
    self.default = self.default- money

  def check(self):
    print(f'{self.name}님의 잔고는 {self.default}입니다.')

a = BackAccount('122333','서준범',10000)

a.check()

서준범님의 잔고는 10000입니다.

In [55]:
class FourCal:
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2
    def add(self):
        return self.num1 + self.num2
    def abst(self):
        return self.num1 - self.num2
    def multi(self):
        return self.num1 * self.num2
    def divis(self):
        return self.num1 / self.num2
a = FourCal(20, 30)


class MoreFourCal(FourCal):
  pass
a = MoreFourCal(4,2)
a.add()

6

In [ ]:
b = FoulCal(2,0)
b.divis() --> 0이기 때문에 오류가 뜸

class MoreFourCal(FourCal):
	def divis(self):
		if self.num2 == 0:
			return 0
		else:
			return self.num1/num2